.results {
    font-family: sans-serif;

    &__preview {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        
        font-size: 40px;

        color: #0b4e75
    }
    &__ts {
        font-size: 32px;
        color:grey;
    }
    
    .CircularProgressbar {
        height: 40px;

        width: auto;
    }
    .CircularProgressbar .CircularProgressbar-text {
        font-size: 25px;
        fill: #fff;
    }
    .CircularProgressbar .CircularProgressbar-trail {
        stroke: #fff;
    }
}
