.results {
    font-family: sans-serif;

    margin-top: 30px;

    &__img {
        display: block;
        margin: 20px auto;
    }
    
    .CircularProgressbar {
        height: 40px;

        width: auto;
    }
    .CircularProgressbar .CircularProgressbar-text {
        font-size: 25px;
        fill: #fff;
    }
    .CircularProgressbar .CircularProgressbar-trail {
        stroke: #fff;
    }
}


@media screen and (max-width: 780px) {
    .results {
        &__audio {
            width: 30px;
        }
    }
}

@media screen and (max-width: 580px) {
    .results {
        margin-top: 20px;
        &__img {
            width: 100%;
        }
    }
}