.prev-words {
    margin-top: 40px;

    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    font-family: sans-serif;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: #0b4e75;

    &__title {
        width: 100%;
    }
    &__word {
                
        padding: 5px 15px;
        border: 1px solid transparent;
        transition: all 0.5s;
        border-radius: 12px;
        font-weight: 700;

        &:hover {
            cursor: pointer;
            text-decoration: underline;

            border: 1px solid #0b4e75;
        }
    }
}

@media screen and (max-width: 780px) {
    .prev-words {
        font-size: 16px;
        gap: 2px;

    }
}

@media screen and (max-width: 580px) {
    .prev-words {
        margin-bottom: 40px;
    }
}