.error-modal {
    position: fixed;

    width: calc(100% - 10px);
    height: 100%;
    
    z-index: -50;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s;
    
    font-family: sans-serif;
    text-align: center;
    color: #175f8a;

    &.opened {
        z-index: 9999;
        opacity: 1;
        background-color: #ffffff73
    }

    &__inner {
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        top: unset;
        bottom: 105%;
        left: 50%;
    
        background-color: #fff;
        border: 1px solid #1D71A0;
        border-radius: 12px;

        padding: 20px;

        width: 500px;
        min-height: 120px;
        
        max-width: 75%;
        max-height: 60vh;
        
        transform: translate(-50%, 0);
        transition: all .5s ease-in;

        span {
            position: absolute;

            top: -35px;
            right: -10px;

            font-size: 40px;
            line-height: 1;

            cursor: pointer;

            &:hover {
                color: #333;
            }
        }
        
        &.opened {
            bottom: 50%;
            transition: all .5s ease-out;
            transform: translate(-50%, 50%);
        }
    }

    &__title {
        margin: 0;
        font-size: 30px;
    }
    &__text {
        font-size: 20px;
    }
}

@media screen and (max-width: 580px) {
    .error-modal {
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 16px;
        }
    }
}