.flags {
    display: flex;
    justify-content: space-between;

    &>* {
        flex-grow: 1;
    }
}

body {
    overflow-y: hidden;
    margin: 0;
    height: 100vh;

    cursor: url("https://img.icons8.com/fluency/25/cursor--v2.png") 5 3, auto;
}

#root {
    padding: 5px;
    height: 100%;
}