.flags {
    display: flex;
    justify-content: space-between;

    &>* {
        flex-grow: 1;
    }
}

body {
    overflow-y: hidden;
    margin: 0;
    height: 100vh;
}

#root {
    padding: 5px;
    height: 100%;
}