.results__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    font-size: 40px;

    color: #0b4e75
}

.results__audio {
    cursor: pointer;
    border: 1px solid transparent;

    padding: 2px;
    border-radius: 5px;

    &:hover {
        border-color: #0b4e75;
    }
}

@media screen and (max-width: 780px) {
    .results__preview {
        font-size: 30px;
        text-align: center;
        gap: 10px;
    }
    .results__audio {
        width: 30px;
    }
}